/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * <p>
 * http://www.apache.org/licenses/LICENSE-2.0
 * <p>
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
// 主题样式
@mixin ma-theme($color) {
  .header,
  .login__block__header,
  .login__block__btn {
    background-color: $color !important;
  }

  .navigation__sub--active > a,
  .navigation__active > a,
  .navigation__active:before {
    color: $color !important;
  }

  .top-menu {
    & > li.active {
      box-shadow: inset 0 -2px 0 $color !important;
    }
  }
}

[data-ma-theme="green"] {
  @include ma-theme($green);
}

[data-ma-theme="blue"] {
  @include ma-theme($blue);
}

[data-ma-theme="red"] {
  @include ma-theme($red);
}

[data-ma-theme="orange"] {
  @include ma-theme($orange);
}

[data-ma-theme="teal"] {
  @include ma-theme($teal);
}

[data-ma-theme="cyan"] {
  @include ma-theme($cyan);
}

[data-ma-theme="blue-grey"] {
  @include ma-theme($blue-grey);
}

[data-ma-theme="purple"] {
  @include ma-theme($purple);
}

[data-ma-theme="indigo"] {
  @include ma-theme($indigo);
}

[data-ma-theme="lime"] {
  @include ma-theme($lime);
}
