/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * <p>
 * http://www.apache.org/licenses/LICENSE-2.0
 * <p>
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
// 启用过度行为
$enable-transitions: true;

// 颜色样式参数
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$gray-dark: #292b2c !default;
$gray: #464a4c !default;
$gray-light: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
$brand-primary: #39527b;
$brand-success: #60c84c;
$brand-warning: #ffc952;
$brand-danger: #ff7473;
$brand-info: #58d9e1;
$brand-flickr: #ff0084;
$brand-tumblr: #35465c;
$brand-twitter: #1da1f2;
$brand-youtube: #cd201f;
$brand-facebook: #3b5998;
$brand-dribbble: #ea4c89;
$brand-linkedin: #0077b5;
$brand-google-plus: #dd4b39;
$red: #ff5652;
$pink: #ff85af;
$purple: #d559ea;
$deep-purple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;
$light-blue: #03A9F4;
$cyan: #00BCD4;
$teal: #39bbb0;
$green: #32c787;
$light-green: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$amber: #ffc107;
$orange: #FF9800;
$deep-orange: #FF5722;
$brown: #795548;
$grey: #9E9E9E;
$blue-grey: #607D8B;
$black: #000000;
$white: #FFFFFF;
$component-hover-bg: #f7f7f7;

// 主题颜色样式参数
$theme-colors: (
  primary: $blue,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $amber,
  danger: $red,
  dark: $gray-700
);

// 按钮样式参数
$btn-padding-x: 1rem !default;
$btn-padding-y: .5rem !default;
$btn-line-height: 1.25 !default;
$btn-font-weight: $font-weight-normal !default;
$btn-box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-box-shadow: 0 0 0 2px rgba($brand-primary, .25) !default;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, .125) !default;
$btn-primary-color: $white !default;
$btn-primary-bg: $brand-primary !default;
$btn-primary-border: $btn-primary-bg !default;
$btn-secondary-color: $gray-dark !default;
$btn-secondary-bg: $white !default;
$btn-secondary-border: #ccc !default;
$btn-info-color: $white !default;
$btn-info-bg: $brand-info !default;
$btn-info-border: $btn-info-bg !default;
$btn-success-color: $white !default;
$btn-success-bg: $brand-success !default;
$btn-success-border: $btn-success-bg !default;
$btn-warning-color: $white !default;
$btn-warning-bg: $brand-warning !default;
$btn-warning-border: $btn-warning-bg !default;
$btn-danger-color: $white !default;
$btn-danger-bg: $brand-danger !default;
$btn-danger-border: $btn-danger-bg !default;
$btn-link-disabled-color: $gray-light !default;
$btn-padding-x-sm: .5rem !default;
$btn-padding-y-sm: .25rem !default;
$btn-padding-x-lg: 1.5rem !default;
$btn-padding-y-lg: .75rem !default;
$btn-block-spacing-y: .5rem !default;
$btn-toolbar-margin: .5rem !default;
$btn-border-radius: $border-radius !default;
$btn-border-radius-lg: $border-radius-lg !default;
$btn-border-radius-sm: $border-radius-sm !default;
$btn-transition: all .2s ease-in-out !default;
$input-btn-padding-y: 0.6rem;
$input-btn-padding-x: 1rem;
$input-btn-line-height: 1.154;
$input-btn-padding-y-sm: 0.25rem;
$input-btn-padding-x-sm: 0.55rem;
$input-btn-line-height-sm: 1.5;
$input-btn-line-height-lg: 1.5;

// 默认排版(字体, 大小等)样式参数
$font-family-sans-serif: 'Roboto', sans-serif;
$text-muted: #9c9c9c;
$headings-color: #333;
$font-weight-bold: 500;
$font-family-icon: 'Material-Design-Iconic-Font';
$font-size-root: 13px;

// 连接类型样式参数
$link-color: $light-blue;
$link-hover-decoration: none;

// 页面内容样式参数
$body-bg: #f3f3f3;
$body-color: #707070;

// 默认表单样式参数
$input-bg: transparent;
$input-disabled-bg: transparent;
$input-box-shadow: rgba(0, 0, 0, 0);
$input-border-color: lighten($gray-200, 1%);
$input-focus-border-color: $input-border-color;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$form-group-margin-bottom: 2rem;
$input-focus-box-shadow: none;

// 自定义表单样式参数
$custom-control-indicator-box-shadow: none;
$custom-control-indicator-focus-box-shadow: none;
$custom-control-indicator-size: 1.308rem;
$custom-control-indicator-bg: transparent;
$custom-control-gutter: 2rem;
$custom-checkbox-indicator-icon-checked: none;
$custom-radio-indicator-icon-checked: none;
$custom-control-indicator-checked-bg: transparent;
$custom-control-indicator-active-color: $white;
$custom-control-indicator-active-bg: transparent;
$custom-control-indicator-disabled-bg: transparent;
$custom-control-indicator-checked-color: $white;

// 布局颜色样式参数
$content-title-heading-color: #676767;

// header 头样式参数
$header-height: 72px;
$header-shadow: 0 1px 10px rgba($black, 0.2);
$header-z-index: 10;

// 下拉内容样式参数
$dropdown-border-width: 0;
$dropdown-border-color: transparent;
$dropdown-box-shadow: 0 4px 18px rgba($black, 0.11);
$dropdown-link-color: #6d6d6d;
$dropdown-link-active-color: $dropdown-link-color;
$dropdown-link-active-bg: $gray-200;
$dropdown-padding-y: 0.8rem;
$dropdown-item-padding-x: 1.5rem;
$dropdown-item-padding-y: 0.5rem;
$dropdown-spacer: 0;

// 边框弧度样式参数
$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;

// 数据集组样式参数
$list-group-bg: transparent;
$list-group-border-width: 0;
$list-group-hover-bg: black;
$list-group-active-bg: $light-blue;
$list-group-item-padding-x: 2rem;
$list-group-item-padding-y: 1rem;

// 进度条样式参数
$progress-box-shadow: none;
$progress-bar-color: $blue;
$progress-bg: $gray-200;
$progress-height: 3px;

// 卡片样式参数
//$card-border-radius-inner: $border-radius;
$card-inner-border-radius: $border-radius;
$card-border-color: transparent;
$card-border-radius: $border-radius;
$card-spacer-x: 0.2rem;
$card-spacer-y: 0.8rem;
$card-cap-bg: transparent;
$card-img-overlay-padding: 0;
$card-shadow: 0 1px 2px rgba($black, 0.075);
$card-columns-margin: 2.3rem;
//$card-link-hover-color: $white !default;

// 侧边栏样式参数
$sidebar-width: 270px;
$sidebar-z-index: $header-z-index - 1;
$navigation-link-color: $body-color;
$navigation-link-active-color: $white;
$navigation-link-active-bg: rgba($black, 0.03);
$navigation-link-hover-bg: rgba($black, 0.03);

// 数据表格样式参数
$table-border-color: lighten($gray-200, 3%);
$table-inverse-bg: $gray-700;
$table-inverse-border-color: lighten($gray-700, 5%);
$table-accent-bg: $table-border-color;
$table-hover-bg: $table-accent-bg;
$table-cell-padding: 1rem 1.5rem;
$table-cell-padding-sm: 0.75rem 1rem;
$table-head-bg: lighten($gray-200, 3%);

// 分页样式参数
$pagination-border-width: 0;
$pagination-padding-y: 0;
$pagination-padding-x: 0;
$pagination-bg: $gray-200;
$pagination-hover-bg: darken($pagination-bg, 5%);
$pagination-color: lighten($body-color, 10%);
$pagination-hover-color: darken($pagination-color, 5%);
$pagination-disabled-bg: $pagination-bg;
$pagination-disabled-color: $pagination-color;
$pagination-active-bg: lighten($light-blue, 10%);

// 输入框组样式参数
$input-group-addon-border-color: $input-border-color;
$input-group-addon-bg: transparent;

// 代码样式参数
$pre-color: $white;
$pre-bg: $gray-800;
$pre-border-color: $pre-bg;

// 告警样式参数
$alert-padding-y: 18px;
$alert-padding-x: 24px;
$alert-link-font-weight: normal;
$alert-border-width: 0;

// 关闭按钮样式参数
$close-font-weight: normal;
$close-text-shadow: none;

// 角标样式参数
$badge-default-bg: $gray-light !default;
$badge-primary-bg: $brand-primary !default;
$badge-success-bg: $brand-success !default;
$badge-gray-bg: $gray-400 !default;
$badge-info-bg: $brand-info !default;
$badge-warning-bg: $brand-warning !default;
$badge-danger-bg: $brand-danger !default;
$badge-padding-y: 0.3rem;
$badge-padding-x: 0.3rem;
$badge-font-size: 80%;
$badge-font-weight: 10;
$badge-font-corlor: $white;
$badge-pill-padding-x: 0.3rem;
$badge-pill-padding-x: 0.3rem;
$badge-link-hover-color: $white !default;

// 面包屑样式参数
$breadcrumb-divider: '\f30f';
$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 0.25rem;

// 旋转木马样式参数
$carousel-control-prev-icon-bg: none;
$carousel-control-next-icon-bg: none;
$carousel-control-icon-width: 40px;
$carousel-control-opacity: 0.8;
$carousel-caption-color: rgba($white, 0.9);

// 弹出框样式参数
$modal-backdrop-opacity: 0.2;
$modal-content-box-shadow-xs: 0 5px 20px rgba($black, .07);
$modal-content-box-shadow-sm-up: $modal-content-box-shadow-xs;
$modal-content-border-width: 0;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$modal-header-padding: 10px;
$modal-inner-padding: 25px 30px;

// popover 提示框样式参数
$popover-border-width: 0;
$popover-box-shadow: 0 2px 30px rgba($black, .1);
$popover-arrow-outer-color: transparent;
$popover-inner-padding: 15px 10px;
$popover-header-bg: $white;

// 排序表格样式参数
$sortable-border-color: $gray-100;

// tabs 样式参数
$nav-tabs-border-width: 2px;
$nav-tabs-border-color: $gray-200;
$nav-tabs-border-radius: 0;
$nav-link-padding-y: 1rem;
$nav-link-padding-x: 1.2rem;
$nav-link-padding: 1rem 1.2rem;
$nav-tabs-link-active-bg: $white;

// tooltips 提示框样式参数
$tooltip-padding-y: 0.7rem;
$tooltip-padding-x: 1.1rem;
$tooltip-bg: $gray-700;
$tooltip-arrow-color: $tooltip-bg;
$tooltip-opacity: 1;

// 背景样式参数
$backdrop-z-index: 100;

// 列表视图样式参数
$listview-item-active-bg: $gray-100;
$listview-item-hover-bg: $gray-100;
$listview-item-striped-bg: $gray-100;
$listview-invert-item-active-bg: rgba($white, 0.025);
$listview-invert-item-hover-bg: rgba($white, 0.025);
$listview-invert-item-striped-bg: rgba($white, 0.1);
$listview-border-color: $gray-100;

// hr 下划线样式参数
$hr-border-color: darken($gray-100, 2%);
$bg-faded: #fbfbfb;
$border-color-default: #e3e2e2;
$brand-success: #60c84c;

// grid columns 样式参数
$grid-columns: 12 !default;
$grid-gutter-width-base: 30px !default;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
) !default;
