<!-- assignment menu modal start -->
<div bsModal #assignmentMenuModal="bs-modal" class="modal fade" [config]="{ ignoreBackdropClick: true }">
    <div class="modal-dialog" style="width: 100%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">
                    {{ 'common.modal.titleRole' | translate }}
                </h5>
            </div>
            <form #createSystemRoleForm="ngForm" (ngSubmit)="assignmentMenus()">
                <div class="modal-body">
                    <div [ngBusy]="mtLoading"></div>
                    <tabset class="tab-container--amber" [justified]="true">
                        <tab *ngFor="let type of types" heading="{{type.name}}" (select)="selectType(type)"
                             style="margin-top: 10px;">
                            <tree-ngx *ngIf="treeNodes" (selectedItems)="menuNodesJson = $event"
                                      [nodeItems]="treeNodes"
                                      [options]="treeOptions">
                            </tree-ngx>
                            <input type="hidden" value="{{menuNodesJson | json}}">
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link"
                            (click)="assignmentMenuModal.hide()">{{ "common.close" | translate }}</button>
                    <button type="submit" class="btn btn-warning"
                            [disabled]="!createSystemRoleForm.form.valid"> {{ 'common.button.create.allocation' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- assignment menu modal end -->
