<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<ng2-toasty [position]="'top-center'"></ng2-toasty>
<section class="content">
    <div class="row">
        <!-- context start -->
        <div class="col-md-12">
            <div [ngBusy]="loading"></div>
            <div class="card">
                <div class="card-title">
                    <a class="actions__item btn btn-primary btn-sm"
                       tooltip="{{ 'common.button.create.tip' | translate }}"
                       placement="bottom" (click)="startShowCreateAndUpdateModal()">
                        <i class="zmdi zmdi-plus"></i>
                        {{ 'common.button.create.title' | translate }}
                    </a>
                </div>
                <div class="card-body">
                    <table class="table mb-0 mr-center">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ "common.name" | translate }}</th>
                            <th>{{ "common.activeStatus" | translate }}</th>
                            <th>{{ "common.permission" | translate }}</th>
                            <th>{{ "common.createTime" | translate }}</th>
                            <th>{{ "common.updateTime" | translate }}</th>
                            <th>{{ "common.action.name" | translate }}</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let model of models">
                        <tr>
                            <th scope="row">{{model.id}}</th>
                            <td>{{model.name}}</td>
                            <td class="center">
                                <a [tooltip]="model.active ? 'current status is actived' : 'current status is not actived'">
                                    <i [ngClass]="model.active ? 'zmdi zmdi-stop' : 'zmdi zmdi-play'"></i>
                                </a>
                            </td>
                            <td><span class="badge badge-info" *ngFor="let k of model.roles"
                                      [tooltip]="k.description">{{k.name}}</span></td>
                            <td>{{model.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{model.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>
                                <a (click)="startShowCreateAndUpdateModal(model)">
                                    <i class="zmdi zmdi-edit"
                                       tooltip="Edit this item"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mr-center">
                <pagination *ngIf="models?.length && page" [(ngModel)]="currentPage" totalItems="{{page.totalElements}}"
                            maxSize="{{page.size}}"
                            (pageChanged)="pageChanged($event)" [boundaryLinks]="true">
                </pagination>
            </div>
        </div>
        <!-- context end -->
    </div>
</section>

