<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  <p>
  http://www.apache.org/licenses/LICENSE-2.0
  <p>
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<ng2-toasty [position]="'top-center'"></ng2-toasty>
<div data-ma-theme="green" class="login">
    <div class="login__block active" id="l-login">
        <div class="login__block__header">
            <i class="zmdi zmdi-account-circle"></i>
            {{ 'common.welcome' | translate }} {{ 'common.bootstack' | translate }}
            <a class="btn" [routerLink]="['/user/login']">
                <i class="zmdi zmdi-sign-in" tooltip="{{ 'page.user.register.tip' | translate}}" placement="bottom"></i>
            </a>
        </div>
        <div class="login__block__body">
            <!-- register from start -->
            <form #registerForm="ngForm" (ngSubmit)="register()">
                <div class="form-group form-group--float form-group--centered">
                    <input type="text" [(ngModel)]="user.name" name="username" #username="ngModel"
                           class="form-control" [rangeLength]="[5, 20]" required
                           placeholder="{{ 'page.user.register.input.placeholder.username' | translate}}"/>
                    <p class="text-danger" *ngIf="username.errors?.rangeLength">
                        {{ 'page.user.register.input.validation.username.length' | translate}}</p>
                </div>
                <div class="form-group form-group--float form-group--centered">
                    <input type="email" [(ngModel)]="user.email" name="email" #email="ngModel" email
                           class="form-control" required
                           placeholder="{{ 'page.user.register.input.placeholder.email' | translate}}"/>
                    <p class="text-danger"
                       *ngIf="email.errors?.email">{{ 'page.user.register.input.validation.email.incorrect' | translate}}</p>
                </div>
                <div class="form-group form-group--float form-group--centered">
                    <input type="password" [(ngModel)]="user.password" name="password" #password="ngModel"
                           [rangeLength]="[8, 20]" class="form-control" required
                           placeholder="{{ 'page.user.register.input.placeholder.password' | translate}}"/>
                    <p class="text-danger"
                       *ngIf="password.errors?.rangeLength">{{ 'page.user.register.input.validation.password.length' | translate}}</p>
                </div>
                <div class="form-group form-group--float form-group--centered">
                    <input type="password" [(ngModel)]="user.repassword" name="repassword" #repassword="ngModel"
                           class="form-control" required [equalTo]="password"
                           placeholder="{{ 'page.user.register.input.placeholder.repassword' | translate}}"/>
                    <p class="text-danger"
                       *ngIf="repassword.errors?.equalTo">{{ 'page.user.register.input.validation.password.match' | translate}}</p>
                </div>
                <button [disabled]="!registerForm.form.valid" class="btn btn--icon login__block__btn" type="submit">
                    <i class="zmdi zmdi-arrow-forward"></i>
                </button>
            </form>
            <!-- register from stop -->
        </div>
    </div>
</div>
