<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<ng2-toasty [position]="'top-center'"></ng2-toasty>
<section class="content">
    <div class="row">
        <!-- context start -->
        <div class="col-md-12">
            <div [ngBusy]="loading"></div>
            <div class="card">
                <div class="card-title">
                    <a class="actions__item btn btn-primary btn-sm"
                       tooltip="{{ 'common.button.create.tip' | translate }}"
                       placement="bottom" (click)="startShowCreateAndUpdateModal()">
                        <i class="zmdi zmdi-plus"></i>
                        {{ 'common.button.create.title' | translate }}
                    </a>
                </div>
                <div class="card-body">
                    <table class="table mb-0 mr-center">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ "common.url" | translate }}</th>
                            <th>{{ "common.remoteIp" | translate }}</th>
                            <th>{{ "common.class" | translate }}</th>
                            <th>{{ "common.method" | translate }}</th>
                            <th>{{ "common.classMethod" | translate }}</th>
                            <th>{{ "common.createTime" | translate }}</th>
                            <th>{{ "common.updateTime" | translate }}</th>
                            <th>{{ "common.action.name" | translate }}</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let model of models">
                        <tr>
                            <th scope="row">{{model.id}}</th>
                            <td>{{model.url}}</td>
                            <td>{{model.remoteIp}}</td>
                            <td>{{model.clazz}}</td>
                            <td>{{model.method}}</td>
                            <td class="center">{{model.classMethod}} </td>
                            <td>{{model.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{model.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>
                                <a (click)="startShowDetailModal(model)">
                                    <i class="zmdi zmdi-eye"
                                       tooltip="{{ 'common.action.lookDetails' | translate }}"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mr-center">
                <pagination *ngIf="models?.length && page" [(ngModel)]="currentPage" totalItems="{{page.totalElements}}"
                            maxSize="{{page.size}}"
                            (pageChanged)="pageChanged($event)" [boundaryLinks]="true">
                </pagination>
            </div>
        </div>
        <!-- context end -->
    </div>
</section>
<!-- 查看详情弹出框开始 -->
<div bsModal #showDetailModal="bs-modal" class="modal fade" [config]="{ ignoreBackdropClick: true }">
    <div class="modal-dialog" style="width: 100%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">
                    {{ 'common.modal.details' | translate }}
                </h5>
            </div>
            <div [ngBusy]="detailsLoading"></div>
            <div class="modal-body center" *ngIf="details">
                <div class="form-group form-group--centered">
                    {{ "common.url" | translate }}:
                    <label class="custom-control">
                        {{details.url}}
                    </label>
                </div>
                <div class="form-group form-group--centered">
                    {{ "common.remoteIp" | translate }}:
                    <label class="custom-control">
                        {{details.remoteIp}}
                    </label>
                </div>
                <div class="form-group form-group--centered">
                    {{ "common.class" | translate }}:
                    <label class="custom-control">
                        {{details.clazz}}
                    </label>
                </div>
                <div class="form-group form-group--centered">
                    {{ "common.classMethod" | translate }}:
                    <label class="custom-control">
                        {{details.classMethod}}
                    </label>
                </div>
                <div class="form-group form-group--centered">
                    {{ "common.user" | translate }}:
                    <label class="custom-control">
                        {{details.user.name}}
                    </label>
                </div>
                <div class="form-group form-group--centered">
                    {{ "common.method" | translate }}:
                    <label class="custom-control">
                        {{details.method}}
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-link"
                        (click)="showDetailModal.hide()">{{ "common.close" | translate }}</button>
            </div>
        </div>
    </div>
</div>
<!-- 查看详情弹出框结束-->
