<!-- menu start -->
<aside class="sidebar" [class.toggled]="sidebarVisible">
    <perfect-scrollbar>
        <!-- user info start -->
        <div class="user" dropdown>
            <div class="user__info" dropdownToggle>
                <img class="user__img" [src]="user?.avatar" [alt]="user?.name">
                <div>
                    <div class="user__name">{{ user?.name }}</div>
                    <!--<div class="user__email">{{ user.userToken }}</div>-->
                </div>
            </div>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" (click)="logout()">{{ 'common.logout' | translate }}</a>
            </div>
        </div>
        <!-- user info end -->
        <ul class="navigation">
            <li routerLinkActive="navigation__sub--active" class="navigation__sub" *ngFor="let menu of menus">
                <a *ngIf="menu.children;else noChildren" (click)="toggleNavigationSub('Menus', $event)" tooltip="{{menu.tips}}">
                    <i class="{{menu.icon}}"></i>
                    {{menu.name}}
                    <span class="badge badge-danger" *ngIf="menu.newd">{{ 'common.new' | translate }}</span>
                </a>
                <ng-template #noChildren>
                    <a [routerLink]="[menu.url]" tooltip="{{menu.tips}}">
                        <i class="{{menu.icon}}"></i>
                        {{menu.name}}
                        <span class="badge badge-danger" *ngIf="menu.newd">{{ 'common.new' | translate }}</span>
                    </a>
                </ng-template>
                <ul [@toggleHeight]="navigationSubState.Menus" *ngFor="let c of menu.children">
                    <li routerLinkActive="navigation__active">
                        <a [routerLink]="c.url" tooltip="{{menu.tips}}">
                            {{c.name}}
                            <span class="badge badge-danger" *ngIf="menu.newd">{{ 'common.new' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </perfect-scrollbar>
</aside>
<!-- menu end -->
