<!-- menu start -->
<aside class="sidebar" [class.toggled]="sidebarVisible">
    <perfect-scrollbar>
        <!-- user info start -->
        <div class="user" dropdown>
            <div class="user__info" dropdownToggle>
                <img class="user__img" [src]="user?.avatar" [alt]="user?.name">
                <div>
                    <div class="user__name">{{ user?.name }}</div>
                    <!--<div class="user__email">{{ user.userToken }}</div>-->
                </div>
            </div>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
        <!-- user info end -->
        <ul class="navigation">
            <li routerLinkActive="navigation__sub--active" class="navigation__sub" *ngFor="let menu of menus">
                <a (click)="toggleNavigationSub('Menus', $event)">
                    <i class="zmdi zmdi-menu"></i>
                    {{menu.name}}
                </a>
                <ul [@toggleHeight]="navigationSubState.Menus" *ngFor="let c of menu.children">
                    <li routerLinkActive="navigation__active">
                        <a [routerLink]="c.url">
                            {{c.name}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </perfect-scrollbar>
</aside>
<!-- menu end -->
