<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<ng2-toasty [position]="'top-center'"></ng2-toasty>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div [ngBusy]="loading"></div>
            <div class="card">
                <div class="card-title">
                    <a class="actions__item btn btn-primary btn-sm"
                       tooltip="{{ 'common.button.create.tip' | translate }}"
                       placement="bottom" (click)="startShowCreateAndUpdateModal()"><i class="zmdi zmdi-plus"></i>
                        {{ 'common.button.create.title' | translate }}
                    </a>
                </div>
                <div class="card-body">
                    <table class="table mb-0 mr-center">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ "common.name" | translate }}</th>
                            <th>{{ "common.code" | translate }}</th>
                            <th>{{ "common.description" | translate }}</th>
                            <th>{{ "common.activeStatus" | translate }}</th>
                            <th>{{ "common.createTime" | translate }}</th>
                            <th>{{ "common.updateTime" | translate }}</th>
                            <th>{{ "common.action.name" | translate }}</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let model of models">
                        <tr>
                            <th scope="row">{{model.id}}</th>
                            <td>{{model.name}}</td>
                            <td>{{model.code}}</td>
                            <td>{{model.description}}</td>
                            <td class="center">
                                <a [tooltip]="model.active ? 'current status is actived' : 'current status is not actived'">
                                    <i [ngClass]="model.active ? 'zmdi zmdi-stop' : 'zmdi zmdi-play'"></i>
                                </a>
                            </td>
                            <td>{{model.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{model.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>
                                <a (click)="startShowCreateAndUpdateModal(model)"><i class="zmdi zmdi-edit"
                                                                                     tooltip="{{ 'common.action.editItem' | translate }}"></i></a>
                            </td>
                        </tr>
                        </tbody>
                        <!-- no data show -->
                        <tbody *ngIf="models?.length <= 0">
                        <tr>
                            <th rowspan="10">No Data Found</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mr-center">
                <pagination *ngIf="models?.length && page" [(ngModel)]="currentPage" totalItems="{{page.totalElements}}"
                            [rotate]="true" [maxSize]="5"
                            (pageChanged)="pageChanged($event)" [boundaryLinks]="true">
                </pagination>
            </div>
        </div>
        <!-- context end -->
    </div>
</section>
<!-- 创建数据弹出框开始 -->
<div bsModal #createAndUpdateModal="bs-modal" class="modal fade" [config]="{ ignoreBackdropClick: true }">
    <div class="modal-dialog" style="width: 100%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left">
                    {{ 'common.modal.title' | translate }}
                </h5>
            </div>
            <form #createAndUpdateForm="ngForm" (ngSubmit)="createAndUpdate()">
                <div class="modal-body">
                    <div class="form-group form-group--centered">
                        <input type="hidden" [(ngModel)]="param.id" name="id" [value]="param.id"/>
                        <div class="form-group form-group--centered">
                            {{ 'page.system.table.row.label.title.name' | translate}}:
                            <label class="custom-control">
                                <input type="text" [(ngModel)]="param.name" name="name" #name="ngModel"
                                       class="form-control" required [ngClass]="name.errors?.name ? 'is-invalid' : ''"
                                       placeholder="{{ 'page.system.table.row.input.placeholder.name' | translate}}"/>
                                <i class="form-group__bar"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-group--centered">
                        {{ 'page.system.table.row.label.title.properties' | translate}}:
                        <label class="custom-control">
                            <input type="text" [(ngModel)]="param.properties" name="properties" #properties="ngModel"
                                   class="form-control" required
                                   [ngClass]="properties.errors?.properties ? 'is-invalid' : ''"
                                   placeholder="{{ 'page.system.table.row.input.placeholder.properties' | translate}}"/>
                            <i class="form-group__bar"></i>
                        </label>
                    </div>
                    <div class="form-group form-group--centered">
                        {{ 'page.system.table.row.label.title.checked' | translate}}:
                        <label class="custom-control custom-radio">
                            <input type="radio" [(ngModel)]="param.checked" name="checked" value="true"
                                   class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ "common.yes" | translate }}</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input type="radio" [(ngModel)]="param.checked" name="checked" value="false"
                                   checked="checked"
                                   class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ "common.no" | translate }}</span>
                        </label>
                    </div>
                    <div class="form-group form-group--centered">
                        {{ 'page.system.table.row.label.title.sorted' | translate}}:
                        <label class="custom-control">
                            <input type="text" [(ngModel)]="param.sorted" name="sorted" #sorted="ngModel"
                                   class="form-control" required
                                   [ngClass]="sorted.errors?.sorted ? 'is-invalid' : ''"
                                   placeholder="{{ 'page.system.table.row.input.placeholder.sorted' | translate}}"/>
                            <i class="form-group__bar"></i>
                        </label>
                    </div>
                    <div class="form-group form-group--centered">
                        {{ 'page.system.table.row.label.title.type' | translate}}:
                        <label class="custom-control">
                            <input type="text" [(ngModel)]="param.type" name="type" #type="ngModel"
                                   class="form-control" required
                                   [ngClass]="type.errors?.type ? 'is-invalid' : ''"
                                   placeholder="{{ 'page.system.table.row.input.placeholder.type' | translate}}"/>
                            <i class="form-group__bar"></i>
                        </label>
                    </div>
                    <div class="form-group form-group--centered">
                        {{ 'page.system.table.row.label.title.type' | translate}}:
                        <label class="custom-control">
                            <select2 #methodFields [data]="methodOptions" [options]="multipleOptions" [value]="value" (valueChanged)="methodChanged($event)"></select2>
                            <i class="form-group__bar"></i>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link"
                            (click)="createAndUpdateModal.hide()">{{ "common.close" | translate }}</button>
                    <button type="submit" class="btn btn-warning"
                            [disabled]="!createAndUpdateForm.form.valid">{{ "common.save" | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 创建数据弹出框结束 -->
