<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- header -->
<head th:include="layout/common/layout-common-header::common-header('Login', 'Login')"></head>
<!-- script -->
<div th:include="layout/common/layout-common-script::common-script"></div>
<body class="text-center">
<!-- form begin -->
<form class="form-signin" action="" method="post">
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        <strong>Login Error!</strong> Please check you username or password!
    </div>
    <h1 class="h3 mb-3 font-weight-normal">BootStack Login</h1>
    <label for="name" class="sr-only">UserName</label>
    <input type="text" name="username" id="name" class="form-control" placeholder="please input username" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="please input password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div class="checkbox mb-3">
        <label>
            No registered account yet?<a th:href="@{/authentication/register}">Register Now</a>
        </label>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
</form>
<!-- form stop -->
</body>
</html>